@use "../config" as *;

.Card {
  background-color: $color-grey-900;
  border-radius: $radius-lg;
  padding: $size-2;
  will-change: transform; // this little nasty thing will prevent lag on mobile, somehow
  box-shadow: $elevation-5;
}
