@use "../config" as *;

.Table,
.Grid {
  display: grid;
  & > * {
    min-width: 0px;
  }
}

.Table {
  grid-template-columns: min-content 1fr;

  & > .assignment {
    & > span:nth-child(1) {
      color: $color-blue-700;
    }

    & > span:nth-child(2) {
      color: $color-blue-500;
    }
  }

  & > .bracket {
    grid-column: -1 / 1;
  }

  & > .comment,
  & > .key {
    padding-right: 1ch;
    padding-left: 2ch;
  }

  & > .comment {
    color: $color-teal-700;
    grid-column: -1 / 1;
  }

  & > .key {
    color: $color-blue-300;

    & > a {
      color: $color-blue-300;
      &:visited {
        color: $color-purple-300;
      }
    }
  }

  & > .value {
    color: $color-orange-300;

    & > span {
      color: $color-grey-300;
    }
  }
}

.List {
  grid-template-columns: 1fr;

  & > .assignment {
    & > span:nth-child(1) {
      color: $color-blue-700;
    }

    & > span:nth-child(2) {
      color: $color-blue-500;
    }
  }

  // &  >  .bracket {
  //   grid-column: -1 / 1;
  // }
  & > .value {
    padding-left: 2ch;
    color: $color-orange-300;

    & > span {
      color: $color-grey-300;
    }
  }
}
