.paragraph_gap {
  & > p:not(:first-child):not(:last-child) {
    margin-bottom: 1em;
  }
}

.Table {
  display: grid;
  grid-template-columns: min-content 1fr;
  & > p:nth-child(odd) {
    padding-right: .75em;
  }
  gap: .25em;
}