@use "../config" as *;

.ImageCard {
  display: flex;
}

img.image {
  &.round {
    transition: border-radius 2s $easing-standard 0s;
    &:hover{
      border-radius: $radius-lg;
    }
    border-radius: 50%;
  }
  padding: $size-2;
  margin: auto;
}