@use "../config" as *;

.Card {
  will-change: transform; // this little nasty thing will prevent lag on mobile, somehow
}

.Metric {
  object-fit: contain;
  min-width: 0px;
}

.Head {
  padding-left: 1.5%;
  padding-right: $size-2;
  padding-top: $size-2;
}