@use "../config" as *;

.VGroup {
  grid-row: span 2;
  display: grid;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $size-5;

  @for $i from 2 through 5 {
    &.contains_#{$i} {
      grid-template-rows: repeat($i - 1, min-content) 1fr;
    }
  }
}