@use "config" as *;

.Card {
  align-self: center;
  background-color: $color-grey-800;
  margin: auto;
  border-radius: $radius-lg;
  & > p {
    margin: $size-2;
    margin-left: $size-4;
  }
  & > .metric {
    max-width: 100%;
    contain: paint;
  }
}