@use "config" as *;
@use "sass:list";

.Card {
  background-color: $color-grey-900;
  margin: $size-5 auto;
  border-radius: $radius-lg;
  padding: $size-2;
  will-change: transform; // this little nasty thing will prevent lag on mobile, somehow
  & > p {
    padding-left: 1.5%;
    font-size: $scale-5;

    $from-shadow: ();
    $to-shadow: ();

    $blur: 5px;
    // multipliers for 1px
    $vert-offset-from: 0;
    $vert-offset-to: 1;
    $hori-offset-from: 1;
    $hori-offset-to: 2;

    @for $i from 1 through length($rainbow) {
      $color: darken(list.nth($rainbow, $i), 30%);
      $from-shadow: list.append($from-shadow, $hori-offset-from*$i + unquote("px") $vert-offset-from*$i + unquote("px") $blur $color);
      $to-shadow: list.append($to-shadow, $hori-offset-to*$i + unquote("px") $vert-offset-to*$i + unquote("px") $blur $color);
    }

    $from-shadow: list.zip($from-shadow);
    $to-shadow: list.zip($to-shadow);
    @keyframes pulse {
      from {
        text-shadow: $from-shadow;
      }
      to {
        text-shadow: $to-shadow;
      }
    }
    animation: pulse 25s infinite alternate;
  }
  & > .metric {
    width: 95%;
    object-fit: contain;
    min-width: none;
    // contain: paint;
    padding-right: $size-2;
    // margin: 0 $size-2;
  }
  box-shadow: $elevation-5;
}
